
    <h2 mat-dialog-title>
        <h1>to create a new user please contact</h1>
    </h2>
    
    
    <mat-dialog-content class="mat-dialog-content" style="text-align: center;">
        <div class="call">
            <h4>Call</h4>
            <div class="phone-img"></div><br>
            <p style="margin-bottom:3px;">+91 80-4177-7888</p>
            <p>+91 20-4011-7700</p>

        </div>
        <span></span>
        <div class="email">
            <h4>Email</h4>
            <div class="mail-img"></div>
            <p>support@se.com.sa</p>

        </div>
        <div class="close-btn-dialog">
            <button class="mat-raised-button mat-primary" (click)="close()"> Close</button>
        </div>
    
    </mat-dialog-content>
    

    
    
 